<div>
  <%= image_tag 'Logo.png', :plugin => "redmine_more_previews", :alt => l(:label_redmine_more_previews), :title => l(:label_redmine_more_previews), :width => 100, :style => "float:left;margin-right:10px;" %>
  <div><%= render :partial => "/settings/redmine_more_previews/welcome/greeting" %></div>
</div><div style="clear:both;margin-bottom:10px;"></div>

<h3><%= l(:label_redmine_more_previews_global_settings) %></h3>

<fieldset class="box tabular settings"><legend><%= l(:text_more_previews_embed_setting) %></legend>
  <p>  
    <label><%= l(:text_more_previews_use_object_embed)  %></label>
      <%= radio_button_tag 'settings[embedding]', 0, (settings["embedding"] == "0" ) %>
  </p>
  <p>
    <label><%= l(:text_more_previews_use_iframe)  %></label>
      <%= radio_button_tag 'settings[embedding]', 1, (settings["embedding"] == "1" ) %>
  </p>
  <p>
    <a class='icon icon-help' href='#' title='<%= "#{l(:label_help)}" %>' onclick='$("#help_redmine_more_previews_embed_settings").toggle(); return false;'><%= l(:label_help) %></a>
    <br>
    <span id="help_redmine_more_previews_embed_settings" class="info" style="display: none;">
      <em class="info"><%= l(:text_help_redmine_more_previews_embed_settings) %></em>
    </span>
  </p>
  <p>  
    <label><%= l(:label_use_absolute_path)  %></label>
      <%= check_box_tag 'settings[absolute]', 1, (settings["absolute"] == "1" ) %>
  </p>
  <p>
    <a class='icon icon-help' href='#' title='<%= "#{l(:label_help)}" %>' onclick='$("#help_redmine_more_previews_absolute").toggle(); return false;'><%= l(:label_help) %></a>
    <br>
    <span id="help_redmine_more_previews_absolute" class="info" style="display: none;">
      <em class="info"><%= l(:text_help_redmine_more_previews_absolute) %></em>
    </span>
  </p>
</fieldset>

<fieldset class="box tabular settings"><legend><%= l(:text_more_previews_cache) %></legend>
  <p>  
    <label><%= l(:label_use_cache)  %></label>
      <%= check_box_tag 'settings[cache_previews]', 1, (settings["cache_previews"] == "1" ) %>
  </p>
  <p>
    <a class='icon icon-help' href='#' title='<%= "#{l(:label_help)}" %>' onclick='$("#help_redmine_more_previews_cache").toggle(); return false;'><%= l(:label_help) %></a>
    <br>
    <span id="help_redmine_more_previews_cache" class="info" style="display: none;">
      <em class="info"><%= l(:text_help_redmine_more_previews_cache) %></em>
    </span>
  </p>
</fieldset>

<fieldset class="box tabular settings"><legend><%= l(:label_debug) %></legend>
  <p>
    <label><%= l(:label_debug)  %></label>
      <%= check_box_tag 'settings[debug]', 1, (settings["debug"] == "1" ) %>
  </p>
  <p>
    <a class='icon icon-help' href='#' title='<%= "#{l(:label_help)}" %>' onclick='$("#help_redmine_more_previews_debug").toggle(); return false;'><%= l(:label_help) %></a>
    <br>
    <span id="help_redmine_more_previews_debug" class="info" style="display: none;">
      <em class="info"><%= l(:text_help_redmine_more_previews_debug) %></em>
    </span>
  </p>
</fieldset>

<fieldset class="box tabular settings"><legend>LibreOffice</legend>
  <p>
    <label>Enable previews for Office files</label>
      <%= check_box_tag 'settings[enable_office]', 1, (settings["enable_office"] != "0" ) %>
  </p>
  <p>
    <label>LibreOffice binary path</label>
      <%= text_field_tag 'settings[lo_bin]', settings["lo_bin"] %>
  </p>
  <p>
    <label>LO UserInstallation dir</label>
      <%= text_field_tag 'settings[lo_profile]', settings["lo_profile"] %>
  </p>
  <p>
    <label>HOME override for converter</label>
      <%= text_field_tag 'settings[home_override]', settings["home_override"] %>
  </p>
  <p>
    <label>PATH override</label>
      <%= text_field_tag 'settings[path_override]', settings["path_override"] %>
  </p>
  <p>
    <label>TMPDIR</label>
      <%= text_field_tag 'settings[tmpdir]', settings["tmpdir"] %>
  </p>
  <p>
    <label>XDG_RUNTIME_DIR</label>
      <%= text_field_tag 'settings[xdg_runtime]', settings["xdg_runtime"] %>
  </p>
  <p>
    <label>Convert timeout (seconds)</label>
      <%= number_field_tag 'settings[convert_timeout]', settings["convert_timeout"], :min => 1 %>
  </p>
  <p>
    <label>Office → PDF density for image</label>
      <%= number_field_tag 'settings[pdf_density]', settings["pdf_density"], :min => 1 %>
  </p>
  <p>
    <label>Preferred PDF→Image tool</label>
      <%= select_tag 'settings[pdf_tool]', options_for_select([['pdftoppm','pdftoppm'],['convert','convert']], settings["pdf_tool"]) %>
  </p>
  <p>
    <label>Skip PDFs (handled by external PDF viewer plugin)</label>
      <%= check_box_tag 'settings[skip_pdfs]', 1, (settings["skip_pdfs"] != "0" ) %>
  </p>
  <hr>
  <p>
    <% lo_path = settings["lo_bin"].to_s.empty? ? '/usr/lib/libreoffice/program/soffice' : settings["lo_bin"] %>
    LibreOffice: <span class="icon-only <%= File.exist?(lo_path) ? 'icon-ok' : 'icon-error' %>"></span> <code><%= lo_path %></code>
  </p>
  <p>
    <% pdftoppm_path = `which pdftoppm 2>/dev/null`.strip %>
    pdftoppm: <span class="icon-only <%= pdftoppm_path.empty? ? 'icon-error' : 'icon-ok' %>"></span>
  </p>
  <p>
    <% convert_path = `which convert 2>/dev/null`.strip %>
    convert: <span class="icon-only <%= convert_path.empty? ? 'icon-error' : 'icon-ok' %>"></span>
  </p>
</fieldset>

<h3><%= l(:label_redmine_more_previews_plugins_settings) %></h3>
<% RedmineMorePreviews::Converter.all.each do |converter| %>
<%- next unless RedmineMorePreviews::Converter.installed?(converter.id) %>
<fieldset class="box tabular settings"><legend><%= converter.name %> <%= check_box_tag "settings[converter][#{converter.id}][active]", 1, (settings.dig("converter", "#{converter.id}", "active") == "1"), :onclick => "$('#converter_#{converter.id}').toggle();" %></legend>
  <div id="converter_<%= converter.id %>" style="<%= 'display:none;' if settings.dig("converter", "#{converter.id}", "active") != "1" %>">
  <%- if converter.settings && converter.settings[:logo] %>
    <div><%= tag :img, :src => "#{converter.public_web_directory}/images/#{converter.settings[:logo]}", :alt => converter.name, :title => converter.name, :width => 100 %></div>
  <% end %>
  <%- if converter.configurable? %>
    <div id="converter_settings_<%= converter.id %>">
      <%= render :partial => converter.settings[:partial], :locals => {:settings => converter.settings[:default].to_h.merge(settings.dig("converter", "#{converter.id}").to_h).stringify_keys} %>
      <% status = RedmineMorePreviews::Converter.find(converter.id).worker.check %>
      <% if status; label,result = status %>
      <p><%= label.is_a?(Symbol) ? l(label) : label %> <span class="icon-only <%= (result ? 'icon-ok' : 'icon-error') %>"></span></p>
      <% end %>
    </div>
    <hr>
  <% end %>
  <% converter.mime_types.each do |mime_type, opts| %>
    <div class="<%= if settings.dig("converter", "#{converter.id}", "mime_types", "#{mime_type}", "active") == "1" && RedmineMorePreviews::Converter.mime_doublette?(converter, mime_type); 'flash warning'; end %>">
      <p>
        <label><%= ".#{mime_type}" %> <%= check_box_tag "settings[converter][#{converter.id}][mime_types][#{mime_type}][active]", 1, (settings.dig("converter", "#{converter.id}", "mime_types", "#{mime_type}", "active") == "1" ) %></label>
        <%= select_tag  "settings[converter][#{converter.id}][mime_types][#{mime_type}][format]", options_for_select(RedmineMorePreviews::Converter.formats_for_select(opts[:formats]), settings.dig("converter", "#{converter.id}", "mime_types", "#{mime_type}", "format")) %>
      </p>
    </div>
  <% end %>
  </div>
</fieldset>
<% end %>
